<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.zotquery</string>
	<key>connections</key>
	<dict>
		<key>1ADBE4BF-4FA2-4A94-8922-B28804B2296A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E89AAF55-EA37-4520-9604-CB7F9906D59A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>35209636-0007-425C-AFFD-6A044F32292D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C18187E-3285-4E2D-8F2C-A96D95973D39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>53372942-F4C7-4770-BA94-C31F4CFB30D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E37263DD-A00C-43DA-870B-75FD5144AF6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>71C4224F-1D97-40F5-AFE7-4BB9294BB865</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FA5775F-E88F-4082-BB2C-865BABEE60C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7687E6B6-51B2-4721-A693-1B009E726974</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C18187E-3285-4E2D-8F2C-A96D95973D39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BD93AD49-C70B-45EE-8817-CD0801540534</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FA5775F-E88F-4082-BB2C-865BABEE60C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C131748D-B1E2-48EF-ACB3-715DF55AECC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7299C725-F65A-4E18-A82A-D28E381A2921</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E2AAD880-BB36-40D8-8755-7F96F2BFAD6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C131748D-B1E2-48EF-ACB3-715DF55AECC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E37263DD-A00C-43DA-870B-75FD5144AF6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AC5B63D-DCEA-4C70-A2B1-8E9FB6367AE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E565C2AB-EABC-4804-8449-D18A38DC0BBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FA5775F-E88F-4082-BB2C-865BABEE60C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E89AAF55-EA37-4520-9604-CB7F9906D59A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>260BAE78-0771-4A61-91DE-D39A18E49D43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Search your Zotero Database</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ZotQuery</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>zot</string>
				<key>runningsubtext</key>
				<string>Searching Zotero...</string>
				<key>script</key>
				<string>python filter_zot-general.py "{query}"</string>
				<key>subtext</key>
				<string>General Query</string>
				<key>title</key>
				<string>Search your Zotero database</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>71C4224F-1D97-40F5-AFE7-4BB9294BB865</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>zot:a</string>
				<key>runningsubtext</key>
				<string>Searching for author...</string>
				<key>script</key>
				<string>python filter_zot-complex.py "{query}" "family"</string>
				<key>subtext</key>
				<string>Author Query</string>
				<key>title</key>
				<string>Search your Zotero Database</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E565C2AB-EABC-4804-8449-D18A38DC0BBF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Result ID</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1FA5775F-E88F-4082-BB2C-865BABEE60C1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>zot:t</string>
				<key>runningsubtext</key>
				<string>Searching for title...</string>
				<key>script</key>
				<string>python filter_zot-complex.py "{query}" "title"</string>
				<key>subtext</key>
				<string>Title Query</string>
				<key>title</key>
				<string>Search your Zotero database</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BD93AD49-C70B-45EE-8817-CD0801540534</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>z:cache</string>
				<key>runningsubtext</key>
				<string>Updating...</string>
				<key>script</key>
				<string>cat &lt;&lt; CODE
&lt;?xml version="1.0"?&gt;
&lt;items&gt;
&lt;item uid="db_cache" arg="1" valid="yes"&gt;
&lt;title&gt;Update Zotero database&lt;/title&gt;
&lt;subtitle&gt;Do you want to update your Zotero database cache?&lt;/subtitle&gt;
&lt;icon&gt;icon.png&lt;/icon&gt;
&lt;/item&gt;
&lt;/items&gt;
CODE</string>
				<key>title</key>
				<string>Update your ZotQuery cache</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1ADBE4BF-4FA2-4A94-8922-B28804B2296A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_update-caches.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E89AAF55-EA37-4520-9604-CB7F9906D59A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Result</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>260BAE78-0771-4A61-91DE-D39A18E49D43</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>z:col</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python filter_collections.py "{query}"</string>
				<key>title</key>
				<string>Search Zotero Collections</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2AAD880-BB36-40D8-8755-7F96F2BFAD6C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "zot:c "</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>7299C725-F65A-4E18-A82A-D28E381A2921</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_save-collection.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C131748D-B1E2-48EF-ACB3-715DF55AECC0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Result ID</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8C18187E-3285-4E2D-8F2C-A96D95973D39</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>zot:c</string>
				<key>script</key>
				<string>python filter_collection-query.py "{query}"</string>
				<key>title</key>
				<string>Search within your chosen Zotero collection</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7687E6B6-51B2-4721-A693-1B009E726974</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "zot:tag "</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>9AC5B63D-DCEA-4C70-A2B1-8E9FB6367AE4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>z:tag</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python filter_tags.py "{query}"</string>
				<key>title</key>
				<string>Search Zotero Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>53372942-F4C7-4770-BA94-C31F4CFB30D7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_save-tag.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E37263DD-A00C-43DA-870B-75FD5144AF6F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>zot:tag</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python filter_tag-query.py "{query}"</string>
				<key>title</key>
				<string>Search within your chosen tag</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>35209636-0007-425C-AFFD-6A044F32292D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1ADBE4BF-4FA2-4A94-8922-B28804B2296A</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>1FA5775F-E88F-4082-BB2C-865BABEE60C1</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>260BAE78-0771-4A61-91DE-D39A18E49D43</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>35209636-0007-425C-AFFD-6A044F32292D</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>53372942-F4C7-4770-BA94-C31F4CFB30D7</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>71C4224F-1D97-40F5-AFE7-4BB9294BB865</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7299C725-F65A-4E18-A82A-D28E381A2921</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>7687E6B6-51B2-4721-A693-1B009E726974</key>
		<dict>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>8C18187E-3285-4E2D-8F2C-A96D95973D39</key>
		<dict>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>9AC5B63D-DCEA-4C70-A2B1-8E9FB6367AE4</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>BD93AD49-C70B-45EE-8817-CD0801540534</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>C131748D-B1E2-48EF-ACB3-715DF55AECC0</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>E2AAD880-BB36-40D8-8755-7F96F2BFAD6C</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>E37263DD-A00C-43DA-870B-75FD5144AF6F</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>E565C2AB-EABC-4804-8449-D18A38DC0BBF</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>E89AAF55-EA37-4520-9604-CB7F9906D59A</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
