<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.zotquery</string>
	<key>connections</key>
	<dict>
		<key>0406E92A-2F84-48D5-82F2-333E22D5ED93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA18956A-C349-4A46-9E5E-211EC824BDE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BB3151A8-F09A-4856-9C6F-6B980A6211CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9FAF6DF5-7CC4-492A-950E-2719D3574536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1ADBE4BF-4FA2-4A94-8922-B28804B2296A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E89AAF55-EA37-4520-9604-CB7F9906D59A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3166AFE5-2F5A-430E-B2C8-6EE19253411E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FAF6DF5-7CC4-492A-950E-2719D3574536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>35209636-0007-425C-AFFD-6A044F32292D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0406E92A-2F84-48D5-82F2-333E22D5ED93</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export Markdown Citation</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BA3479E-2D51-43AF-B22F-1DEC3B90CA04</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E8D4B869-0FCA-4F4C-ABB3-129BE2392B40</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Export Reference</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3166AFE5-2F5A-430E-B2C8-6EE19253411E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D2B26CF8-1A26-4197-BE37-F2F8EFA5943D</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Append MD citation to Bibliography</string>
			</dict>
		</array>
		<key>53372942-F4C7-4770-BA94-C31F4CFB30D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>958FBDF3-853D-451B-A289-3EAF1864E2C0</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export MD Bibliography of Tag</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E37263DD-A00C-43DA-870B-75FD5144AF6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>694DF83D-F77D-4AA0-8D2A-B89D6B5F02B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B595D39-6C1A-45BD-ACF2-2FA14AED0DF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>71C4224F-1D97-40F5-AFE7-4BB9294BB865</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0406E92A-2F84-48D5-82F2-333E22D5ED93</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export Markdown Citation</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BA3479E-2D51-43AF-B22F-1DEC3B90CA04</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E8D4B869-0FCA-4F4C-ABB3-129BE2392B40</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Export Reference</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3166AFE5-2F5A-430E-B2C8-6EE19253411E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D2B26CF8-1A26-4197-BE37-F2F8EFA5943D</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Append MD citation to Bibliography</string>
			</dict>
		</array>
		<key>7687E6B6-51B2-4721-A693-1B009E726974</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0406E92A-2F84-48D5-82F2-333E22D5ED93</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export Markdown Citation</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BA3479E-2D51-43AF-B22F-1DEC3B90CA04</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E8D4B869-0FCA-4F4C-ABB3-129BE2392B40</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Export Reference</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3166AFE5-2F5A-430E-B2C8-6EE19253411E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D2B26CF8-1A26-4197-BE37-F2F8EFA5943D</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Append MD citation to Bibliography</string>
			</dict>
		</array>
		<key>7B595D39-6C1A-45BD-ACF2-2FA14AED0DF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4BC7578-3E3A-45E4-9137-3BCCB3925879</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>958FBDF3-853D-451B-A289-3EAF1864E2C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FAF6DF5-7CC4-492A-950E-2719D3574536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D2598FEF-CDF3-403F-8527-431DBA491760</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4EE71E6-EBD4-413C-80F9-5B3AB54C7F7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>999EE149-74F0-401F-AE30-623756122D31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD93AD49-C70B-45EE-8817-CD0801540534</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A4BC7578-3E3A-45E4-9137-3BCCB3925879</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FAF6DF5-7CC4-492A-950E-2719D3574536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4EE71E6-EBD4-413C-80F9-5B3AB54C7F7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0BFE4A31-78E1-4CFA-87D3-D9AB45FC9A0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BD93AD49-C70B-45EE-8817-CD0801540534</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0406E92A-2F84-48D5-82F2-333E22D5ED93</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export Markdown Citation</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BA3479E-2D51-43AF-B22F-1DEC3B90CA04</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E8D4B869-0FCA-4F4C-ABB3-129BE2392B40</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Export Reference</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3166AFE5-2F5A-430E-B2C8-6EE19253411E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D2B26CF8-1A26-4197-BE37-F2F8EFA5943D</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Append MD citation to Bibliography</string>
			</dict>
		</array>
		<key>C131748D-B1E2-48EF-ACB3-715DF55AECC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7299C725-F65A-4E18-A82A-D28E381A2921</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D2B26CF8-1A26-4197-BE37-F2F8EFA5943D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FAF6DF5-7CC4-492A-950E-2719D3574536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F3102C3F-9D40-4B41-8083-25E50D66607E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F2E7BA97-AFCD-4360-BC71-50954F90C61B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E2AAD880-BB36-40D8-8755-7F96F2BFAD6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C131748D-B1E2-48EF-ACB3-715DF55AECC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>958FBDF3-853D-451B-A289-3EAF1864E2C0</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export MD Bibliography of Collection</string>
			</dict>
		</array>
		<key>E37263DD-A00C-43DA-870B-75FD5144AF6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AC5B63D-DCEA-4C70-A2B1-8E9FB6367AE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E565C2AB-EABC-4804-8449-D18A38DC0BBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0406E92A-2F84-48D5-82F2-333E22D5ED93</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export Markdown Citation</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BA3479E-2D51-43AF-B22F-1DEC3B90CA04</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E8D4B869-0FCA-4F4C-ABB3-129BE2392B40</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Export Reference</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3166AFE5-2F5A-430E-B2C8-6EE19253411E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D2B26CF8-1A26-4197-BE37-F2F8EFA5943D</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Append MD citation to Bibliography</string>
			</dict>
		</array>
		<key>E89AAF55-EA37-4520-9604-CB7F9906D59A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>260BAE78-0771-4A61-91DE-D39A18E49D43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E8D4B869-0FCA-4F4C-ABB3-129BE2392B40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB3151A8-F09A-4856-9C6F-6B980A6211CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>612EB44D-D8FA-466F-B429-737EB9965027</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9FAF6DF5-7CC4-492A-950E-2719D3574536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Search your Zotero Database</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ZotQuery</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_export-md-format.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0406E92A-2F84-48D5-82F2-333E22D5ED93</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Citation copied to Clipboard!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CA18956A-C349-4A46-9E5E-211EC824BDE8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>zot</string>
				<key>runningsubtext</key>
				<string>Searching Zotero...</string>
				<key>script</key>
				<string>python filter_zot-general.py "{query}"</string>
				<key>subtext</key>
				<string>General Query</string>
				<key>title</key>
				<string>Search your Zotero database</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>71C4224F-1D97-40F5-AFE7-4BB9294BB865</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BB3151A8-F09A-4856-9C6F-6B980A6211CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_open-attachment.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7BA3479E-2D51-43AF-B22F-1DEC3B90CA04</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>zot:a</string>
				<key>runningsubtext</key>
				<string>Searching for author...</string>
				<key>script</key>
				<string>python filter_zot-complex.py "{query}" "family"</string>
				<key>subtext</key>
				<string>Author Query</string>
				<key>title</key>
				<string>Search your Zotero Database</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E565C2AB-EABC-4804-8449-D18A38DC0BBF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_export-ref.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E8D4B869-0FCA-4F4C-ABB3-129BE2392B40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>zot:t</string>
				<key>runningsubtext</key>
				<string>Searching for title...</string>
				<key>script</key>
				<string>python filter_zot-complex.py "{query}" "title"</string>
				<key>subtext</key>
				<string>Title Query</string>
				<key>title</key>
				<string>Search your Zotero database</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BD93AD49-C70B-45EE-8817-CD0801540534</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>999EE149-74F0-401F-AE30-623756122D31</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Reference copied to Clipboard!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>612EB44D-D8FA-466F-B429-737EB9965027</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_update-caches.py False</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>9FAF6DF5-7CC4-492A-950E-2719D3574536</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>zot:c</string>
				<key>script</key>
				<string>python filter_collection-query.py "{query}"</string>
				<key>title</key>
				<string>Search within your chosen Zotero collection</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7687E6B6-51B2-4721-A693-1B009E726974</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/action_open-item.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3166AFE5-2F5A-430E-B2C8-6EE19253411E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_export-md-format.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D2B26CF8-1A26-4197-BE37-F2F8EFA5943D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_append-to-bib.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>F3102C3F-9D40-4B41-8083-25E50D66607E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>zot:tag</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python filter_tag-query.py "{query}"</string>
				<key>title</key>
				<string>Search within your chosen tag</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>35209636-0007-425C-AFFD-6A044F32292D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Citation appended to Bibliography</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F2E7BA97-AFCD-4360-BC71-50954F90C61B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_save-collection.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C131748D-B1E2-48EF-ACB3-715DF55AECC0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>z:col</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python filter_collections.py "{query}"</string>
				<key>title</key>
				<string>Search Zotero Collections</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2AAD880-BB36-40D8-8755-7F96F2BFAD6C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "zot:c "</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>7299C725-F65A-4E18-A82A-D28E381A2921</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D2598FEF-CDF3-403F-8527-431DBA491760</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_export-coll-tag-bib.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>958FBDF3-853D-451B-A289-3EAF1864E2C0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>z:tag</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python filter_tags.py "{query}"</string>
				<key>title</key>
				<string>Search Zotero Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>53372942-F4C7-4770-BA94-C31F4CFB30D7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_save-tag.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E37263DD-A00C-43DA-870B-75FD5144AF6F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "zot:tag "</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>9AC5B63D-DCEA-4C70-A2B1-8E9FB6367AE4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>The bibliography has been copied to the clipboard.</string>
				<key>title</key>
				<string>Copied Bibliography!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D4EE71E6-EBD4-413C-80F9-5B3AB54C7F7B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>z:bib</string>
				<key>subtext</key>
				<string>Copy the cached Bibliography to the clipboard?</string>
				<key>text</key>
				<string>Markdown Bibliography</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7B595D39-6C1A-45BD-ACF2-2FA14AED0DF4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>694DF83D-F77D-4AA0-8D2A-B89D6B5F02B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_read-restart-bib.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A4BC7578-3E3A-45E4-9137-3BCCB3925879</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0BFE4A31-78E1-4CFA-87D3-D9AB45FC9A0C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>z:cache</string>
				<key>runningsubtext</key>
				<string>Updating...</string>
				<key>script</key>
				<string>cat &lt;&lt; CODE
&lt;?xml version="1.0"?&gt;
&lt;items&gt;
&lt;item uid="db_cache" arg="1" valid="yes"&gt;
&lt;title&gt;Update Zotero database&lt;/title&gt;
&lt;subtitle&gt;Do you want to update your Zotero database cache?&lt;/subtitle&gt;
&lt;icon&gt;icons/n_update.png&lt;/icon&gt;
&lt;/item&gt;
&lt;/items&gt;
CODE</string>
				<key>title</key>
				<string>Update your ZotQuery cache</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1ADBE4BF-4FA2-4A94-8922-B28804B2296A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Result</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>260BAE78-0771-4A61-91DE-D39A18E49D43</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python action_update-caches.py True</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E89AAF55-EA37-4520-9604-CB7F9906D59A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0406E92A-2F84-48D5-82F2-333E22D5ED93</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>0BFE4A31-78E1-4CFA-87D3-D9AB45FC9A0C</key>
		<dict>
			<key>ypos</key>
			<real>1040</real>
		</dict>
		<key>1ADBE4BF-4FA2-4A94-8922-B28804B2296A</key>
		<dict>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>260BAE78-0771-4A61-91DE-D39A18E49D43</key>
		<dict>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>3166AFE5-2F5A-430E-B2C8-6EE19253411E</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>35209636-0007-425C-AFFD-6A044F32292D</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>53372942-F4C7-4770-BA94-C31F4CFB30D7</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>612EB44D-D8FA-466F-B429-737EB9965027</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>694DF83D-F77D-4AA0-8D2A-B89D6B5F02B3</key>
		<dict>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>71C4224F-1D97-40F5-AFE7-4BB9294BB865</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7299C725-F65A-4E18-A82A-D28E381A2921</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>7687E6B6-51B2-4721-A693-1B009E726974</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>7B595D39-6C1A-45BD-ACF2-2FA14AED0DF4</key>
		<dict>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>7BA3479E-2D51-43AF-B22F-1DEC3B90CA04</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>958FBDF3-853D-451B-A289-3EAF1864E2C0</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>999EE149-74F0-401F-AE30-623756122D31</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>9AC5B63D-DCEA-4C70-A2B1-8E9FB6367AE4</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>9FAF6DF5-7CC4-492A-950E-2719D3574536</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>A4BC7578-3E3A-45E4-9137-3BCCB3925879</key>
		<dict>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>BB3151A8-F09A-4856-9C6F-6B980A6211CE</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>BD93AD49-C70B-45EE-8817-CD0801540534</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>C131748D-B1E2-48EF-ACB3-715DF55AECC0</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>CA18956A-C349-4A46-9E5E-211EC824BDE8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D2598FEF-CDF3-403F-8527-431DBA491760</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>D2B26CF8-1A26-4197-BE37-F2F8EFA5943D</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>D4EE71E6-EBD4-413C-80F9-5B3AB54C7F7B</key>
		<dict>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>E2AAD880-BB36-40D8-8755-7F96F2BFAD6C</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>E37263DD-A00C-43DA-870B-75FD5144AF6F</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>E565C2AB-EABC-4804-8449-D18A38DC0BBF</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>E89AAF55-EA37-4520-9604-CB7F9906D59A</key>
		<dict>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>E8D4B869-0FCA-4F4C-ABB3-129BE2392B40</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>F2E7BA97-AFCD-4360-BC71-50954F90C61B</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>F3102C3F-9D40-4B41-8083-25E50D66607E</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
