<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.zotquery2</string>
	<key>connections</key>
	<dict>
		<key>1D44993E-8EAD-4A6C-9AC8-1418BE4127E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6753D6DF-A146-4325-BCBB-3222FA940A18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6753D6DF-A146-4325-BCBB-3222FA940A18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5B3C378-874E-48A9-A044-E7F6FEDA6083</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7E430EB7-8309-4E6D-9B84-7BB1ABCECE68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D317ACC3-51ED-4418-859C-14AC31C04337</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ZotQuery</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Alfred 2" to run trigger "api_key" in workflow "com.hackademic.zotquery2" with argument "api key ➣"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D317ACC3-51ED-4418-859C-14AC31C04337</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>z:config</string>
				<key>subtext</key>
				<string>Configure your ZotQuery Settings</string>
				<key>text</key>
				<string>Configuration</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7E430EB7-8309-4E6D-9B84-7BB1ABCECE68</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python _testing.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A5B3C378-874E-48A9-A044-E7F6FEDA6083</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>_api</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>from workflow import Workflow
wf = Workflow()
input = unicode("{query}")
query = input if input != '' else 'None'
wf.add_item('Enter your your Zotero User ID',
			'This is a number with fewer than 8 digits',
			valid=True,
			arg=query)
wf.add_item("Can't find you Zotero User ID?",
			'Click to open your Zotero settings.',
			valid=True,
			arg='https://www.zotero.org/settings/keys')
wf.send_feedback()</string>
				<key>title</key>
				<string>Test Configuration</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6753D6DF-A146-4325-BCBB-3222FA940A18</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>api_key</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>1D44993E-8EAD-4A6C-9AC8-1418BE4127E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>z:test</string>
				<key>script</key>
				<string>print_r( $_ENV );</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3E2983A7-A3A0-4C15-976F-02049146DE44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D44993E-8EAD-4A6C-9AC8-1418BE4127E1</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>3E2983A7-A3A0-4C15-976F-02049146DE44</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>6753D6DF-A146-4325-BCBB-3222FA940A18</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>7E430EB7-8309-4E6D-9B84-7BB1ABCECE68</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A5B3C378-874E-48A9-A044-E7F6FEDA6083</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>D317ACC3-51ED-4418-859C-14AC31C04337</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
